{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>排名</th>
                <th>学号</th>
                <th>姓名</th>
                <th>运行用时</th>
                <th>提交时间</th>
                <th>提交hash值</th>
            </tr>
        </thead>
        <tbody>
            {% for r in result %}
                <tr>
                    <td>{{r[0]}}</td>
                    <td>{{r[1]}}</td>
                    <td>{{r[2]}}</td>
                    <td>{{r[3]}}s</td>
                    <td>{{r[4]}}</td>
                    <td>{{r[5]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}