{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>排名</th>
                <th>姓名</th>
                <th>运行时间</th>
                <th>提交日期</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>2</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
        </tbody>
    </table>
{% endblock %}