<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="">
        <link rel="icon" href="">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!-- <script type="text/JavaScript">
            function AutoRefresh( t ) {
             setTimeout("location.reload(true);", t);
            }
        </script> -->
        <title>CS50 PKU hackathon{% block title %}{% endblock %}</title>

    </head>

    <body>
        <!-- <body onload="JavaScript:AutoRefresh(5000);"></body> -->
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/hackathon"><span class="blue">C</span><span class="red">S</span><span class="yellow">5</span><span class="green">0</span> <span class="red">PKU Mini Hackathon</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    {% if session["status"] == 'hw2' %}
                        <li class="nav-item"><b><a class="nav-link" href="/homework2">Homework2</a></b></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/homework2">Homework2</a></li>
                    {% endif %}
                    {% if session["status"] == 'hw3' %}
                        <li class="nav-item"><b><a class="nav-link" href="/homework3">Homework3</a></b></li>
                    {% else %}
                        <!-- <li class="nav-item"><a class="nav-link" href="/homework3">Homework3</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/homework3">Homework3</a></li>
                    {% endif %}
                    <li class="nav-item">
                        <div class="nav-link">
                            {% if session["status"] in ['Hello', 'Mario', 'Cash', 'Credit'] %}
                                <span id="hw4"><b>{{session["status"]}}</b></span>
                            {% else %}
                                <span id="hw4">Homework4</span>
                            {% endif %}
                            <div class="dropdown-content">
                                <!-- <a href="/homework4/hello">Hello</a> -->
                                <!-- <a href="/homework4/mario">Mario</a> -->
                                <!-- <a href="/homework4/cash">Cash</a> -->
                                <!-- <a href="/homework4/credit">Credit</a> -->
                                <p><a href="#" onclick="alert('敬请期待')">Hello</a></p>
                                <p><a href="#" onclick="alert('敬请期待')">Mario</a></p>
                                <p><a href="#" onclick="alert('敬请期待')">Cash</a></p>
                                <p><a href="#" onclick="alert('敬请期待')">Credit</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2">
                    {% if session["status"] == 'query' %}
                        <li class="nav-item"><b><a class="nav-link" href="/query">Query</a></b></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/query">Query</a></li>
                    {% endif %}
                    {% if session["status"] == 'about' %}
                        <li class="nav-item"><b><a class="nav-link" href="/about">About</a></b></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
        
    </body>

</html>
