{% extends "layout.html" %}

{% block title %}
    Query
{% endblock %}

{% block main %}
    <p></p>
    <div style="font-size:large">
        <p>输入学号查询你的所有提交</p>
        <p>（不包含第一次scratch作业）</p>
    </div>
    <p></p>
    <form action="/query" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stuid" placeholder="学号" type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Query</button>
    </form>
{% endblock %}